*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --fw-reg: 300;
    --fw-bold: 800;
    
    --clr-light: #fff;
    --clr-dark: #000000;
    --clr-accent: #5ec171;
    
    --fs-h1: 2.8em;
    --fs-h2: 2.5em;
    --fs-h3: 1.25rem;
    --fs-h4: 1.1rem;
    --fs-body: 1rem;
    
     --bs: -3px 4px 5px rgb(1, 50, 67);
}

@media (min-width: 700px) {
    :root{
        --fs-h1: 4em;
        --fs-h2: 3.5em;
        --fs-h3: 1.75rem;
        --fs-h4: 1.25rem;
        --fs-body: 1.125rem;
        
    }
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
}

section {
    padding-top: 8px;
    padding-bottom: 4px;
    margin-left: 2rem;
    margin-right: 2.5rem;
}

img {
    display: block;
    max-width: 100%;
}

/*typography*/

h1,
h2,
h3, 
h4 {
    margin: 0;
    line-height: 1;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

h3{
    font-size: var(--fs-h3);
}

h4{
    font-size: var(--fs-h4);
    font-weight: var(--fw-reg);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.img-caption {
    font-size: 1.15em;
    font-weight: var(--fw-reg);
    margin-top: 0.25em;
    margin-bottom: 2.5rem;
    font-style: oblique;
    caption-side: bottom;
}

p{
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

.title-name{
    font-weight: var(--fw-bold);
}

/* #img1 {
    filter: drop-shadow(2.25rem 0.62rem 0.45rem #3f4353);
} */

table,tbody,thead,
td {
    border: 1px #000000;
    border-style: groove;
    border-spacing: 5px;
}

th {
    column-width: 2.5rem;
    padding: 4px;
    text-align: center;

}